# WordPress
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/

# DDEV
.ddev/db_snapshots/
.ddev/.importdb*

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
**/node_modules/
vendor/

# Build
web/wp-content/plugins/my-custom-blocks/build/
